extends layout 

block content
  div.contact
    h2 Ivar Castro
    br
    p Entre em contato.
    a(href='mailto:ivar@ivarcastro.com') 
      img(src='/images/email.svg')
      p ivar@ivarcastro.com
    p Veja o código deste site e de outros projetos.
    a(href='https://github.com/globalviking')       
      img(src='/images/github.svg')
      p github.com/globalviking
    p Veja o homem por trás do código.
    a(href='https://facebook.com/ivar.castro') 
      img(src='/images/facebook.svg')
      p facebook.com/ivar.castro
