extends layout 

block content
  div.contact
    h2 Ivar Castro
    br
    p Pode me mandar um email.
    a(href='mailto:ivar@siteseafins.com.br') 
      img(src='/images/email.svg')
      p ivar@siteseafins.com.br
    p Ver o códige desse site e de outros projetos.
    a(href='https://github.com/globalviking')       
      img(src='/images/github.svg')
      p github.com/globalviking
    p Ou ver o homem por trás do código.
    a(href='https://facebook.com/ivar.castro') 
      img(src='/images/facebook.svg')
      p facebook.com/ivar.castro
