extends layout

block content
  p Aqui você pode ver alguns dos sites que eu fiz.
  h2 Espaço autotransformação
  a(href="http://autotransformacao.com") 
    img(src="/images/autotransformacao.600.png")
  h2 Sites e afins
  a(href="http://siteseafins.com.br")  
    img(src="/images/siteseafins.600.png")
  h2 Mesafashion
  a(href="https://elo7.com.br/mesafashion")  
    img(src="/images/mesafashion.600.png")
  h2 OkEnglish
//  a(href="http://okenglish.com.br")
  img(src="/images/okenglish.600.png")
  //h1.contato Contato
  //p Email: ivar@siteseafins.com.br
  //p Github: github.com/globalviking
