extends layout

block content
  p I have worked with the following list 
of languages, tools and technologies.
Languages: Shell Scripting (sh, zsh, 
bash), C, Lisp, Python, PHP, HTML, CSS, 
MySQL, OpenSCAD.
Tools: Vim, GitHub, Nginx, Apache, 
WordPress, WooCommerce, Magento.
Servers: Web Servers, File Servers, 
Application Servers, Proxy Servers, 
Online Gaming Servers, Mail Servers, FTP 
Servers, Virtual Servers, Jails, 
containerization.
OS: Unix, Linux, Windows, Mac, Android, 
iOS.

  h2 Espaço autotransformação
  a(href="http://autotransformacao.com") 
    img(src="/images/autotransformacao.600.png")
  h2 Sites e afins
  a(href="http://siteseafins.com.br")  
    img(src="/images/siteseafins.600.png")
  h2 Mesafashion
  a(href="https://elo7.com.br/mesafashion")  
    img(src="/images/mesafashion.600.png")
  h2 OkEnglish
  //a(href="http://okenglish.com.br")
  img(src="/images/okenglish.600.png")
  //h1.contato Contato
  //p Email: ivar@siteseafins.com.br
  //p Github: github.com/globalviking
