doctype html
html
  head
    title= title
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .header
      h1.page-title Um portfólio

    ul.nav
      li: a(href='/') Home
      li: a(href='/contato') Contato

    .main-content
      block content

    .footer
      p Copyright © 2016 Ivar Castro.
